<!-- <div class="top">
    <h1>top top</h1>
</div>
<div class="main">
    <div class="container">
        <div class="navtop">top bar</div>
        <div class="side"> side </div>
        <div class="right"> right</div>
    </div>
</div> -->

<div class="mainP">
    <div class="parent">
        <div id="d1" class="child">child1</div>
        <div id="d2" class="child">child2</div>
        <div id="d3" class="child">child3</div>
        <div id="d4" class="child">child4</div>
        <div id="d5" class="child">child5</div>
    
    
    </div>
    
    <div class="parent1">
        <div id="d6" class="child1">child1</div>
        <div id="d7" class="child1">child2</div>
        <div id="d8" class="child1">child3</div>
        <div id="d9" class="child1">child4</div>
        <div id="d10" class="child1">child5</div>
        <div id="d11" class="child1">child3</div>
        <div id="d12" class="child1">child4</div>
        <div id="d13" class="child1">child5</div>
    
    
    
    </div>
    <div class="parent2">
        <div id="d6" class="child1">child1</div>
        <div id="d7" class="child1">child2</div>
        <div id="d8" class="child1">child3</div>
    
    
    
    
    </div>
</div>



