.error {
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.currentWeatherCard {
  width: 100%;
}

.locationsights {
  width: 100%;
}

.windspeed {
  width: 100%;
}
