.searchcity {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input-box {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bookmarks {
  width: 200px;
  padding: 8px;
  border: 2px solid #9e9e9e;
  border-radius: 4px;
  background-color: #0507086c;
  font-size: 14px;
  color: #ffffff; /* Dark text */
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
select option {
  padding: 4px;
  background-color: #fff; /* White background for options */
  color: #333;
}
select {
  margin: 10px 0;
}

.bookmarked {
  position: absolute;
  right: 10px;
  top: 10px;

  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.bookmarked img {
  width: 50px;
  height: 50px;
}

.currentWeather {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.weather-chart {
  width: 500px;

  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(158, 190, 189, 0.493);

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.weather-card {
  width: 500px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(158, 190, 189, 0.493);
  position: relative;
}

.weather-card h2 {
  font-size: 20px;
  width: 100%;
}

.name {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.tempicon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.tempicon .temperature {
  font-size: 32px;
  padding-top: 5px;
  padding-left: 10px;
  white-space: nowrap;
  overflow-wrap: break-word;
  max-width: 100%;
  text-align: left;
}
.tempicon img {
  width: 50px;
  height: 50px;
}

.weathericon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.weathericon div {
  font-size: 32px;
  padding-top: 5px;
  padding-left: 10px;
  white-space: nowrap;
  overflow-wrap: break-word;
  max-width: 100%;
  text-align: left;
}
.weathericon img {
  width: 50px;
  height: 50px;
  color: white;
}
