<div class="weathercurrent">
  <div class="searchcity">
    <input [(ngModel)]="city" placeholder="Enter city" class="input-box" />
    <button (click)="getWeather()" class="search-button">Get Weather</button>
    <div>
  <select *ngIf="bookmarks.length > 0" [(ngModel)]="city" class="bookmarks" (change)="selectBookmark($event)">
    <option *ngFor="let city of bookmarks" [value]="city">{{ city }}</option>
  </select>
  
</div>
  </div>
  <div class="currentWeather">
    <div class="weather-card">
      <div  *ngIf="weather">
        <h3 class="name">{{ city }}</h3>
       <button class="bookmarked" (click)="toggleBookmark()">
        <img  [src]="bookmark_img" alt="bookmarked">
       </button>
        <div class="tempicon">
          <img src="images/temp.png" alt="temperature Icon" />
          <div class="temperature">{{ weather.main.temp }} °C</div>
        </div>
        <div class="weathericon">
          <img src="images/weather.png" alt="Weather Icon" />
          <div>{{ weather.weather[0].description }}</div>
        </div>
      </div>
    </div>
    <div class="weather-chart">
      <app-fivedayforecast
        [city]="selectedCity"
        *ngIf="showForecastComponent"
      ></app-fivedayforecast>
    </div>
  </div>
</div>
