.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}

.header {
  background-color: rgb(241, 99, 99);
  grid-row: 1/2;
  grid-column: 1/4;

}
.sidenav {
  background-color: rgb(122, 189, 67);
}
.rightnav {
  background-color: rgb(14, 128, 75);
}
.maincontent {
  background-color: rgb(158, 151, 151);
}

.footer {
  background-color: rgb(19, 49, 61);
  grid-column: 1/4;
}

.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
