<div [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
  <div class="content">
    <div class="header">
      <h1 class="weatherName">Weather App</h1>
      <button (click)="toggleTheme()" aria-label="Toggle Icon">
        <img [src]="currentIcon" alt="Icon" />
      </button>
    </div>
    <div class="main">
      <app-currentweather></app-currentweather>
    </div>
  </div>
</div>

<!-- <app-test></app-test> -->
<!-- <app-grid></app-grid> -->
<!-- <app-grid1></app-grid1> -->
<!-- <app-grid2></app-grid2> -->
