.light-theme {
  background-image: url("/images/light.jpg");
  color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-theme {
  background-image: url("/images/dark2.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.weatherName {
  font-size: large;
}

.main {
  padding: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

button:hover img {
  transform: scale(1.1);
}
