.parent {
  width: 800px;
  height: 800px;
  display: grid;
  //   grid-template-columns: 200px 200px 200px;
  //   grid-template-columns: 1fr 2fr 1fr; //this is calle toatl width by 4 width/4 then apply to 3 cells
  grid-template-columns: repeat(3, 200px);
  //   grid-template-rows: 200px 600px;
  // grid-template-rows: 200px 300px auto;
  grid-template-rows: repeat(3, 200px);

  //   grid-template-areas: "childd1 childd1 childd2"
  //                          "child2 child3 child3";

  grid-gap: 10px;
  //   justify-items: start;// this is align center and content size only take
  justify-content: center;
  // align-items: start;
  align-content: center;
  background-color: rgb(34, 31, 31);
}

.child1 {
  height: 200px;
  background-color: gray;
  grid-column-start: 1;
  grid-column-end: 3;
  //   grid-area: childd1;
  justify-self: end;
}
.child2 {
  height: 200px;
  background-color: rgb(235, 168, 168);
}
.child3 {
  //  height: 200px;
  background-color: rgb(162, 226, 109);
}
.child4 {
  height: 200px;
  background-color: rgb(108, 42, 214);
}
.child5 {
  height: 200px;
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  grid-column: 1/3;
  background-color: rgb(180, 172, 49);
}
